body {
    background-color:rgb(181, 189, 185);
    background-image: linear-gradient(to right, rgb(181, 189, 185) ,  rgb(145, 163, 154));
    font-family: 'Tenali Ramakrishna', sans-serif;
}

.container {
    position: relative;
    margin-bottom: 1%;
}

.grey-container {
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 0%;
    background-color: rgb(180, 186, 190); opacity: 70%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.thumbnail-container {
    width: 80%;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail-container img {
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height:50px;
    width:50px;
}

#currentPhotoDescription, #currentPhotoTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainImg {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-right: 200px solid whitesmoke;
    border-left: 200px solid whitesmoke;
}

/*.gray-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(180, 186, 190);
    border: 2px solid grey;
    
}*/

#left-arrow {
    position: fixed;
    left: 11%;
    bottom: 50%;
}

#right-arrow {
    position: fixed;
    right: 11%;
    bottom: 50%;
}